* {
  box-sizing: border-box;
}

.gameboard {
  display: inline-block;
  padding: 1rem;
}

.gameboard-content {
  background-color: #235b9a;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid #d3d3d3;
  width: 20px;
  height: 20px;
}

.cell.has-ship {
  background-color: gray;
}
